body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
  height: 100vh;
  width: 100vw;
}

@keyframes high-jump {
  0% {
    top: 50%;
  }
  50% {
    top: calc(50% - 200px);
  }
  100% {
    top: 50%;
  }
}
@keyframes low-jump {
  0% {
    top: 50%;
  }
  5% {
    top: calc(50% - 100px);
  }
  25% {
    top: 50%;
  }
  100% {
    top: 50%;
  }
}
.loading {
  transition: opacity 500ms, visibility 0s;position: absolute;
  margin-left: -24px;
  position: absolute;
  margin-left: -24px;
}
.is-loaded .loading {
  opacity: 0;
  visibility: hidden;
  transition: opacity 3.3s, visibility 0s 3.3s;
}
.loading span {
  position: absolute;
  top: 50%;
  display: block;
  width: 48px;
  height: 48px;
  background-color: grey;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.loading span::after {
  width: 48px;
  height: 48px;
  content: '';
  background-color: lightgrey;
  display: block;
  clip-path: polygon(50% 0%, 100% 25%, 50% 50%, 0% 25%);
}
.loading span:nth-child(1) {
  transform: translate(0px, -30px);
  animation: 2.5s ease-in-out 0.625s infinite low-jump;
}
.loading span:nth-child(2) {
  transform: translate(25px, -15px);
  animation: 2.5s ease-in-out 0.83333s infinite low-jump;
}
.loading span:nth-child(3) {
  transform: translate(-25px, -15px);
  animation: 2.5s ease-in-out 0.41667s infinite low-jump;
}
.loading span:nth-child(4) {
  animation: 2.5s ease-in-out infinite high-jump;
}
.loading span:nth-child(5) {
  transform: translate(-50px, 0px);
  animation: 2.5s ease-in-out 0.20833s infinite low-jump;
}
.loading span:nth-child(6) {
  transform: translate(50px, 0px);
  animation: 2.5s ease-in-out 1.04167s infinite low-jump;
}
.loading span:nth-child(7) {
  transform: translate(25px, 15px);
  animation: 2.5s ease-in-out 1.25s infinite low-jump;
}
.loading span:nth-child(8) {
  transform: translate(-25px, 15px);
  animation: 2.5s ease-in-out 1.66667s infinite low-jump;
}
.loading span:nth-child(9) {
  transform: translate(0px, 30px);
  animation: 2.5s ease-in-out 1.45833s infinite low-jump;
}
.btn-container {
  position: absolute;
  top: 30px;
  

}
